.tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 49px;
    background: #fff;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;

    li {
        flex: 1;
        line-height: 49px;
        text-align: center;

        a {
            color: #666;
            display: block;
            width: 100%;
            height: 100%;
            font-weight: 700;
        }
    }

    .active {
        color: #31C27C;
    }
}